@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&display=swap');

body {
    background-color: rgb(187, 238, 238);
}

.container {
    height: 100vh;
    width: 100vw;
}

.container, .logo, .content {
    display: flex;
    flex-flow: row wrap;
}

#sea {
    background-image: url(./img/sea.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    width: 30%;
    left: 5vw;
    position: relative;
}

.logo {
    height: auto;
    background-color: rgba(134, 113, 8, 0.263);
    position: relative;
    top: 33vh;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

#octo {
    height: auto;
    width: 10vw;
    padding-top: 2vh;
}

h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 2rem;
    color: rgb(187, 238, 238);
}

.content {
    align-items: center;
    display: grid;
    justify-content: center;
    position: relative;
    right: -5vw;
    width: 60%;
}

p, h3, h4, label, button {
    font-family: 'Gentium Book Plus', serif;
}

.text, .info, .confirm {
    padding-left: 5vw;
    padding-right: 5vw;
}

.text, .confirm {
    background-color: rgb(201, 236, 226);
    height: 35vh;
}

.message {
    font-size: 2rem;
    padding-bottom: 5vh;
    padding-top: 10vh;
}

h3 {
    font-size: 3rem;
}

.advisory {
    font-size: 0.5rem;
    padding-top: 1vh;
}

.info {
    background-color: rgb(214, 235, 229);
    height: 30vh;
}

form {
    height: 30vh;
    width: 35vw;
}

.formHeader {
    font-size: 2rem;
    padding-bottom: 3vh;
    padding-top: 2vh;
}

.section {
    display: flex;
    justify-content: space-around;
}

input {
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.confirm {
    padding-top: 3vh;
}

button {
    border-radius: 10px;
    height: 5vh;
    width: 13vw;
    font-size: 1.5rem;
}

h4 {
    font-size: 1.1rem;
    margin: 0;
    padding-top: 2vh;
}