@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&display=swap');

body {
    background-color: rgb(187, 238, 238);
}

.container {
    height: 100vh;
    width: 100vw;
}

.container, .logo, .content {
    display: flex;
    flex-flow: row wrap;
}

#sea {
    background-image: url(./img/sea.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    width: 30%;
    left: 75px;
    position: relative;
}

.logo {
    height: auto;
    background-color: rgba(134, 113, 8, 0.263);
    position: relative;
    top: 310px;
    justify-content: center;
    align-items: center;
}

#octo {
    height: 150px;
    width: 160px;
    padding-top: 18px;
}

h1 {
    color: rgb(187, 238, 238);
    font-family: 'Rock Salt', cursive;
    font-size: 2rem;
    height: 40px;
    width: 212px;
}

.content {
    align-items: center;
    display: grid;
    justify-content: center;
    position: relative;
    right: -75px;
    width: 60%;
}

p, h3, h4, label, button {
    font-family: 'Gentium Book Plus', serif;
}

.text, .info, .confirm {
    padding-left: 75px;
    padding-right: 75px;
}

.text, .confirm {
    background-color: rgb(201, 236, 226);
    height: 320px;
}

.message {
    font-size: 2rem;
    padding-bottom: 63px;
    padding-top: 90px;
}

h3 {
    font-size: 3rem;
}

.advisory {
    font-size: 0.5rem;
    padding-top: 10px;
}

.info {
    background-color: rgb(214, 235, 229);
    height: 283px;
}

form {
    height: 283px;
    width: 550px;
}

.formHeader {
    font-size: 2rem;
    padding-bottom: 28px;
    padding-top: 28px;
}

.section {
    display: flex;
    justify-content: space-around;
}

input {
    font-size: 1rem;
    border-color: white;
    border-radius: 5px;
}

input:hover {
    background-color: transparent;
    border-color: rgb(187, 238, 238);
}

input:focus {
    outline: none;
    border-color: brown;
}

.confirm {
    padding-top: 20px;
}

button {
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: 1.5rem;
}

button:hover {
    background-color: rgb(187, 238, 238);
}

button:active {
    background-color: rgb(214, 235, 229);
}

h4 {
    font-size: 1.1rem;
    margin: 0;
    padding-top: 20px;
}

a {
    color: brown;
    text-decoration-style: wavy;
}

a:hover {
    color: rgb(187, 238, 238);
}

a:active {
    color: brown;
}